*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:serif;
}
.login{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-image:url('sport3.avif');
    background-position: center;
    background-size:cover;
}


.form{
    background:transparent;
    border:2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    color:rgb(61, 38, 38);
    font-style: bold;
    padding: 30px 40px;
    border-radius: 10px;
    width:500px;
}
.form h3{
    font-size:30px;
    text-align:center;
}
.form .in{
    font-size:20px;
    width:500px;
    height:50px;
    margin:30px;
    margin-left:45px;
    align:center;
}

.in input{
    width:200px;
    height:100%;
    border-radius: 3px;
    border-style:solid;
    font-size:medium;
    color: rgb(61, 38, 38);
    padding:20px 45px 20px 20px;
}

.in i{
    position:relative;
    right:31px;
    top:33%;
    transform:translateY(-50%);
    font-size:20px;
}
.btn{
    width:80%;
    height:45px;
    background:transparent;
    border-width:2px;
    border-color: azure;
    border-style:solid;
    border-radius:5px;
    color: rgb(61, 38, 38);
    font-size:25px;
    cursor:pointer;
    
}